# kind-config.yaml example
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: canary-demo
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
      - containerPort: 443
        hostPort: 443
